<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
    </configSections>
  <connectionStrings>
    <add name="Open_Miracle.Properties.Settings.ConnectionString"
      connectionString="Data Source=LAPTOP-RAHEEL\SQLEXPRESS;Persist Security Info=True;User ID=sa;Password=Abcd1234;Initial Catalog=DBOpenMiracle"
      providerName="System.Data.SqlClient" />
    <add name="Open_Miracle.Properties.Settings.DBOpenMiracleConnectionString"
      connectionString="Data Source=LAPTOP-RAHEEL\SQLEXPRESS;Initial Catalog=DBOpenMiracle;User ID=sa;Password=Abcd1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UpdateCheck" value="5" />
    <add key="LastCheckDay" value="01-Sep-2013" />
  </appSettings>

<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.100.0.0" newVersion="14.100.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
